---
import Layout from '../layouts/Layout.astro';
import UploadForm from '../components/UploadForm';
---

<Layout title="TPV Match - Upload Design">
	<main class="container">
		<h1>TPV Colour Matcher</h1>
		<p>Upload your surfacing design to find matching Rosehill TPV blends.</p>
		<UploadForm client:load />
	</main>
</Layout>
